extends ./layout/index

block contenido 
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="", class="img-fluid")
            .col-md-7
               h1 #{pagina} 
               blockquote  ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut libero augue. Quisque iaculis sem diam, et dignissim erat laoreet a. Integer grav

                p tincidunt leo vel diam lacinia tempor. Ut felis enim, pellentesque ut semper sit amet, da

                p elementum ante lorem, et lacinia quam consequat et. Proin pellentesque pharetra magna vitae imperdiet. Sed venenatis lobortis nisl, in lobortis nisl. Quisque et augue ut nulla ornare hendrerit quis in magna. Donec id tortor quis justo cursus vehicula. Nam at mauris vitae ante dictum scelerisque consequat at enim. Cras ullamcorper libero ut libero efficitur sollicitudin. Morbi posuere tincidunt eleifend. Pellentesque vitae tincidunt nisi. Nulla vestibulum sapien quis mauris aliquet,

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row    
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 seguridad
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, beata


                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destino" class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, beatae, 

                                
                .col-md-4
                    img(src="img/icono_precio.svg", alt="icono Precio" class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, beatae, 